.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  justify-content: center;
}

.title {
  text-align: center;
}

.form-wrap {
  margin-left: auto;
  margin-right: auto;
}